<div class="p-3">
  <p-card header="Historique des transactions">
    <p-table
      styleClass="p-datatable-striped"
      [value]="operations | filter:categoryOption"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Produit</th>
          <th>Nature</th>
          <th pSortableColumn="quantity">Quantité</th>
          <th pSortableColumn="price">Prix</th>
          <th>Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-operation>
        <tr>
          <td>{{ operation.product.name }}</td>
          <td>
            @if(operation.quantity > 0){
            <p-tag severity="info">Vente</p-tag> 
        } 
            @else if (operation.quantity <0) {
            <p-tag severity="success">Achat</p-tag>
            } @else { <p-tag>Peremption</p-tag> }
          </td>
          <td>{{ operation.quantity }}</td>
          <td>{{ operation.price }}</td>
          <td>{{ operation.created_at | date }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-card header="Chiffre d'affaire">
          <div class="flex align-items-center gap-3">
            <p-dropdown [options]="options" optionLabel="label"></p-dropdown>
            <p-selectButton [(ngModel)]="categoryOption" optionValue="category" pRipple [options]="categories"></p-selectButton>
            <h3 class="ml-auto">{{chiffreDaffaire(operations | filter:categoryOption) | currency:'€'}}</h3>
          </div>
        </p-card>
      </ng-template>
    </p-table>
  </p-card>
</div>
